body {
    margin: 20px;
    background: #d1dedd;
}

h1 {
    color: #767f7e;
    font-size: 48px;
}

h2 {
    color: #767f7e;
    font-size: 28px;
}

p {
    color: #828b8a;
    font-size: 20px;
}

ul {
    color: #828b8a;
    font-size: 20px;
}

li {
    padding: 10px;
}

header {
    max-width: 1920px;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;
}

footer {
    max-width: 1920px;
    border-top: 1px solid #bbc7c7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    max-width: 1920px;
    margin: 20px auto;
}

